body {
    background-color: #c5b69f;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.main-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.erase,
.draw,
.new-size,
.clear {
    height: 40px;
    width: 140px;
    font-size: 20px;
    border-radius: 10px;
}

/*Default grid*/

.grid-container {
    
    padding: 50px;
    background-color: #B73E3E;
    border: 5px solid black;
    border-radius: 15px;
    position: relative;
}

.grid-wrapper {
    
    display: grid;
    height: 700px;
    width: 700px;

    background-color: whitesmoke;
}

.cell {
    border: 1px solid rgb(209, 209, 209);
}

.etch-label {
    position: absolute;
    bottom: 10px;
    left: 40%;
    color: whitesmoke;
    font-size: 24px;
    font-weight: bold;
}



/*Pseudo-classes*/

.cell:hover {
    background-color: black;
}